<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header class="header-footer">
        <div class="row">
            <div class="twelve columns">
                <h1>NEWS SCRAPE</h1>
            </div>
        </div>

    </header>
    <div class="container">
    {{{body}}}
    </div>
    <footer class="header-footer">
        <div class="row">
            <div class="twelve columns">
                <h1>BOTTOM TEXT</h1>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
</body>

</html>